<%= form_with(model: @daily_task) do |form| %>

  <div class="field">
     <%#= form.hidden_field :date, value: Date.today %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.cktext_area :description %> <% @daily_task.errors.full_messages_for(:description).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <%= form.hidden_field :employee_id, value: current_employee.id %>     
  
  <div class="actions mt-3">
  <%= form.submit 'Submit', class: "btn btn-primary right"%> </div> 

<% end %>
