<h1 style="width: 300px;">gfjwhb</h1>



<%= form_with(model: holiday) do |form| %>
  <% if holiday.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(holiday.errors.count, "error") %> prohibited this holiday from being saved:</h2>

      <ul>
        <% holiday.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :holiday_name %>
    <%= form.text_field :holiday_name %>
  </div>

  <div class="field">
    <%= form.label :holiday_date %>
    <%= form.date_select :holiday_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
