<% array = [] %>
    <% @attendences.each do |attendence| %>
                   <%# if current_employee.id == attendence.employee_id %>
        <% unless array.include?(attendence.created_at.strftime('%d-%m-%y')) %>
            <% array << attendence.created_at.strftime('%d-%m-%y') %>
            <tr>
                <td><%= attendence.checkin_time&.strftime("%a %b %d %y %I:%M:%S %p") %></td>
                <td><%= attendence.checkout_time&.strftime("%a %b %d %y %I:%M:%S %p") %></td>
                <td><%= attendence.hour %></td>
                <td><%= attendence.employee.name %></td>
                <td><%= link_to 'View', hr_attendence_path(attendence), class: "btn btn-primary" %></td>
                <% unless attendence.employee.is_hr? %>
                <td><%= link_to 'Edit', edit_hr_attendence_path(attendence), class: "btn btn-primary" %></td>
                <% end %>
            </tr>
    <% end %>
<% end %>
