
</aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1 class="mb-4">Attendence List</h1>
    </div><!-- End Page Title -->
    <section class="section">
      <div class="row">
        
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
             <h5 class="card-title"></h5>
              <!-- Table with stripped rows -->
                <%= form_with(url: '/hr/search', local: false, method: 'get') do %>
                
            <div>
              <div class="row mb-3">
                <!-- <div class="col-2">
                  <%#= label_tag :start_date%>
                  <%#= date_field_tag :start_date%>
                </div>
                <div class="col-2">
                  <%#= label_tag :end_date%>
                  <%#= date_field_tag :end_date %>
                </div> -->
                <div class="col-2">
                  <%= label_tag :month%>
                  <%= select_tag :month, options_for_select((1..12).map {|m| [Date::MONTHNAMES[m], m]}) %>
                </div>
                <div class="col-2">
                  <%= label_tag :employee_name%>
                  <% employee= Employee.all %>
                  <%= select_tag :id, options_for_select(employee.map { |t| ["#{t.name}",t.id]}) %>
                </div>
                <%#= hidden_field_tag :id, @employee.id %>
                <div class="col-2 mt-3">
                  <%= submit_tag("Search", :class=>"btn btn-primary") %>
                  <button type="button" onClick="refreshPage()" class="btn btn-primary">Clear</button>
                </div>
              </div>
                   <%#= link_to 'Back', root_path, class: "right btn btn-primary" %>

            </div>
          <% end %>
                   <%= link_to 'Back', employees_path,  class: "right btn btn-primary" %>
                    <hr>
                    <h5 id="employee_name">Employee Name : <%= Employee.find(params[:id]).name %> </h5>  
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th scope="col">Date</th>
                          <th scope="col">Checkin Time</th>
                          <th scope="col"></th>
                          <th scope="col">Checkout Time</th>
                          <th scope="col">Working Hours</th>
                        </tr>
                      </thead>
                    <tbody id="search-data">
                      <%= render partial: "attendences/attendence", locals: { attendences: @attendences} %>
                    </tbody>
                    </table>

              <!-- End Table with stripped rows -->
            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->
  <script>
  function refreshPage(){
      window.location.reload();
  } 
  </script>




