
<div class="tab-content pt-2 show-data">

                      <div class="tab-pane fade show active profile-overview" id="profile-overview">
                        <h5 class="card-title">About</h5>
                        <p class="small fst-italic">Sunt est soluta temporibus accusantium neque nam maiores cumque temporibus. Tempora libero non est unde veniam est qui dolor. Ut sunt iure rerum quae quisquam autem eveniet perspiciatis odit. Fuga sequi sed ea saepe at unde.</p>
                         <div class="row">
                          <div class="col-lg-3 col-md-4 label ">Name</div>
                          <div class="col-lg-9 col-md-8"><%= @employee.name&.capitalize() %></div>
                        </div>

                        <div class="row">
                          <div class="col-lg-3 col-md-4 label ">Father Name</div>
                          <div class="col-lg-9 col-md-8"><%= @employee.father_name&.capitalize() %></div>
                        </div>

                        <div class="row">
                          <div class="col-lg-3 col-md-4 label ">Mother Name</div>
                          <div class="col-lg-9 col-md-8"><%= @employee.mother_name&.capitalize() %></div>
                        </div>

                        <div class="row">
                          <div class="col-lg-3 col-md-4 label ">Gender</div>
                          <div class="col-lg-9 col-md-8"><%= @employee.gender %></div>
                        </div>

                        <div class="row">
                          <div class="col-lg-3 col-md-4 label">Date Of Birth</div>
                          <div class="col-lg-9 col-md-8"><%= @employee.date_of_birth %></div>
                        </div>

                        <div class="row">
                          <div class="col-lg-3 col-md-4 label">Date Of Joining</div>
                          <div class="col-lg-9 col-md-8"><%= @employee.joining_date %></div>
                        </div>

                        <div class="row">
                          <div class="col-lg-3 col-md-4 label">Company</div>
                          <div class="col-lg-9 col-md-8">Simply Alliance Software Solution Private Limited, Indore</div>
                        </div>

                        <div class="row">
                          <div class="col-lg-3 col-md-4 label">Designation</div>
                          <div class="col-lg-9 col-md-8"><%= @employee.designation.name %></div>
                        </div>

                        <div class="row">
                          <div class="col-lg-3 col-md-4 label">Country</div>
                          <div class="col-lg-9 col-md-8">India</div>
                        </div>

                        <div class="row">
                          <div class="col-lg-3 col-md-4 label">Address</div>
                          <div class="col-lg-9 col-md-8"><%= @employee.address&.capitalize() %></div>
                        </div>

                        <div class="row">
                          <div class="col-lg-3 col-md-4 label">Phone</div>
                          <div class="col-lg-9 col-md-8"><%= @employee.phone_number %></div>
                        </div>

                        <div class="row">
                          <div class="col-lg-3 col-md-4 label">Primary Skills</div>
                          <div class="col-lg-9 col-md-8"><%= @employee.primary_skill %></div>
                        </div>

                        <div class="row">
                          <div class="col-lg-3 col-md-4 label">Email</div>
                          <div class="col-lg-9 col-md-8"><%= @employee.email %></div>
                        </div>

                        <div class="row">
                          <div class="col-lg-3 col-md-4 label">Pan Card No.</div>
                          <div class="col-lg-9 col-md-8"><%= @employee.pan_card_number%></div>
                        </div>
                        <div class="row">
                          <div class="col-lg-3 col-md-4 label">Aadhar Card No.</div>
                          <div class="col-lg-9 col-md-8"><%= @employee.aadhar_card_number %></div>
                        </div>
                        <div class="row">
                          <div class="col-lg-3 col-md-4 label">Bank Name</div>
                          <div class="col-lg-9 col-md-8"><%= @employee.bank_name %></div>
                        </div>
                         <div class="row">
                          <div class="col-lg-3 col-md-4 label">Account No.</div>
                          <div class="col-lg-9 col-md-8"><%= @employee.account_number %></div>
                        </div>
                      </div>

                      

                      </div>

                      
                  

                    </div><!-- End Bordered Tabs -->
