<section class="container section  m-5 p-5 mx-auto">
      <div class="row mt-5">
      <%if @employee.present? %>
        <div class="col-xl-4">

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

              <%= image_tag(@employee.image_url, class: "rounded-circle img-width")%>
              <h2><%= @employee.name %></h2>
              <h3><%= @employee.destination %></h3>
              <div class="social-links mt-2">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

        </div>

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
    
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  <h5 class="card-title">About</h5>
                  <p class="small fst-italic">Sunt est soluta temporibus accusantium neque nam maiores cumque temporibus. Tempora libero non est unde veniam est qui dolor. Ut sunt iure rerum quae quisquam autem eveniet perspiciatis odit. Fuga sequi sed ea saepe at unde.</p>

                  <h5 class="card-title">Profile Details</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Name</div>
                    <div class="col-lg-9 col-md-8"><%= @employee.name %></div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Father Name</div>
                    <div class="col-lg-9 col-md-8"><%= @employee.father_name %></div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Mother Name</div>
                    <div class="col-lg-9 col-md-8"><%= @employee.mother_name %></div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Age</div>
                    <div class="col-lg-9 col-md-8"><%= @employee.age %></div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Trainer</div>
                    <div class="col-lg-9 col-md-8"><%= @employee.trainer_id %></div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Company</div>
                    <div class="col-lg-9 col-md-8">Simply Alliance Software Solution Private Limited, Indore</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Job</div>
                    <div class="col-lg-9 col-md-8"><%= @employee.destination %></div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Country</div>
                    <div class="col-lg-9 col-md-8">India</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Address</div>
                    <div class="col-lg-9 col-md-8"><%= @employee.address %></div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Phone</div>
                    <div class="col-lg-9 col-md-8"><%= @employee.phone_number %></div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Email</div>
                    <div class="col-lg-9 col-md-8"><%= @employee.email %></div>
                  </div>

                </div>

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
      <% else %>
        <h1>Employee Not Exist</h1>
      <% end %>
</section>