<h1 style="width: 300px;"></h1>
<% if flash.any? %>
<% flash.each do |key, value| %>
<div class="<%= flash_class(key.to_sym) %> show" ><%= value %></div>
<% end %>
<% end %>
<%= form_with model: [:admin_main, @holiday ] do |form| %>
<% if @holiday.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@holiday.errors.count, "error") %></h2>
  <ul>
    <% @holiday.errors.each do |error| %>
    <li><%= error.full_message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= form.label :holiday_name %>
  <%= form.text_field :holiday_name, class: 'form-control'%>
</div>

<div class="field mt-3 mb-3">
  <%= form.label :holiday_type %>
  <%= form.select :holiday_type, Holiday.holiday_types.keys, {}, class: 'form-control' %>
</div>

<div class="field mt-3 mb-3">
  <%= form.label :holiday_date %>
  <%= form.date_field :holiday_date, class: 'form-control' %>
</div>

<div class="actions">
  <%= form.submit class: 'btn btn-primary' %>
</div>
<% end %>
