</aside>
<main id="main" class="main">
  <div class="pagetitle">
    <h1>Holidays</h1>
    <nav>
    <ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item">Holiday</li>
    <li class="breadcrumb-item active">List</li>
    </ol>
    </nav>
  </div>
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="p-3">
              <%= link_to 'Add Holiday', new_admin_main_holiday_path, class: 'btn btn-primary'%>
          </div>
          <div class="card-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Holiday Name</th>
                  <th scope="col">Holiday Type</th>
                  <th scope="col">Date</th>
                </tr>
              </thead>
              <tbody>
                <%  for i in 1...@holidays.length %>
                <tr>
                  <th scope="row"><%= i %></th>
                  <td><%= @holidays[i].holiday_name.capitalize() %></td>
                  <td><%= @holidays[i].holiday_type.capitalize() %></td>
                  <td><%= @holidays[i].holiday_date.strftime("%d %h %Y") %></td>
                  <td>
                    <%= link_to 'Edit Holiday', edit_admin_main_holiday_path(@holidays[i]), class: 'btn btn-primary'%>
                    <%= link_to 'Destroy',  admin_main_holiday_path(@holidays[i]),method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary"%>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

