
</aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Leave List</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Leave</li>
          <li class="breadcrumb-item active">List</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section">
      <div class="row">
        
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                 <%= link_to 'Apply For Leave', new_leaf_path, class: "btn btn-primary mb-3 right "  %>
              </a><!-- End Notification Icon -->
              <!-- Table with stripped rows -->
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Employee</th>
                    <th scope="col">Leave type</th>
                    <th scope="col">From date</th>
                    <th scope="col">Till date</th>
                    <th scope="col">Leave starts</th>
                    <th scope="col">Leave end</th>
                    <th scope="col">Total days</th>
                    <th scope="col">Reason</th>
                    <th scope="col">Leave status</th>
                  </tr>
                </thead>
                <tbody>
                  <% @leafs.each do |leaf| %>
                  <tr>
                      <th scope="row"></th>
                      <td><%= leaf&.employee&.name %></td>
                      <td><%= leaf.leave_type %></td>
                      <td><%= leaf.from_date %></td>
                      <td><%= leaf.till_date %></td>
                      <td><%= leaf.leave_starts %></td>
                      <td><%= leaf.leave_end %></td>
                      <td><%= leaf.total_days %> Days</td>
                      <td><%= leaf.reason %></td>
                      <td>
                      <% if leaf.leave_status == "accept" %>
                        <button type="button" class="btn btn-success disabled">Accepted</button>
                      <% elsif leaf.leave_status == nil%>
                        <button type="button" class="btn btn-warning disabled">Pending</button>
                        <%= link_to 'Cancel',  leaf_path(id: leaf.id), method: :patch, class: "btn btn-primary" %>
                      <% elsif leaf.leave_status == "cancel" %>
                          <%= link_to 'Cancelled',  leaf_path(id: leaf.id), method: :patch, class: "btn btn-primary" %>
                      <% else %>
                        <button type="button" class="btn btn-danger disabled">Rejected</button>
                      <% end %>
                      </td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->