</aside><!-- End Sidebar-->
<main id="main" class="main"> <% if current_employee.id == @salary.employee_id %> <div class="col-lg-12">
        <table border="1">
            <tr class="heading-align">
                <td colspan='4' style="color: black;"><%= wicked_pdf_image_tag asset_url('/assets/logo-new.png') %><br>Simply Alliance Software Solution Private Limited, Indore</td>
            </tr>
            <tr height="50px" style="color:#ffffff;text-align:center;font-size:24px; font-weight:300;"> <% month = Date::MONTHNAMES%> <td colspan='4' style="color: black; background-color: lightgrey;">Salary Slip <%= month[@salary.month.to_i] %> 20<%= Time.zone.now.strftime('%y') %></td>
            </tr>
            <tr>
                <th class="abc">Name:</th>
                <td><%= @salary.employee.name .capitalize()%></td>
                <th>Phone Number:</th>
                <td><%= @salary.employee.phone_number %></td>
            </tr>
            <!-----2 row--->
            <tr>
                <th>Email:</th>
                <td><%= @salary.employee.email %></td>
                <th>Bank Name:</th>
                <td><%= @salary.employee.bank_name %></td>
            </tr>
            <!------3 row---->
            <tr>
                <th>Address:</th>
                <td><%= @salary.employee.address %></td>
                <th>Bank Account No.</th>
                <td><%= @salary.employee.account_number %></td>
            </tr>
            <!------4 row---->
            <!------5 row---->
            <tr>
                <th>Location</th>
                <td>India</td>
                <th>Designation</th>
                <td><%= @salary.employee.designation.name.capitalize()%></td>
            </tr>
            <!------6 row---->
            <tr>
                <th>Working Days</th>
                <td><%= @salary.total_working_days %></td>
                <th>Leaves</th>
                <td><%= @salary.leaves %></td>
            </tr>
        </table>
        <tr></tr> <br />
        <table border="1">
            <tr style="background-color: lightgrey;">
                <th>Earnings</th>
                <th></th>
                <th>Deductions</th>
                <th></th>
            </tr>
            <tr>
                <th>Basic Salary</th>
                <td>Rs <%= @salary.salary%>\-</td>
                <th>Deduction</th>
                <td>Rs <%= @salary.deductions %>\-</td>
            </tr>
            <tr style="background-color: lightgrey;">
                <th>Total Earning</th>
                <td>Rs <%= @salary.earnings %>\-</td>
                <th>Total Deduction </th>
                <td>Rs <%= @salary.deductions %>\-</td>
            </tr>
            <tr height="50px" style="font-size:20px; font-weight:300;">
                <th>Total Amount</th>
                <td></td>
                <th></th>
                <td>Rs <%= @salary.earnings%>\-</td>
            </tr>
        </table>
    </div> <% end %> </main>
<style type="text/css">
    th {
    	text-align: left;
    }
    .heading-align{
    	 height: 100px;
    	 color: #ffffff;
    	 text-align: center;
    	 font-size: 24px; 
    	 font-weight: 600;
    }
</style>