</aside><!-- End Sidebar--> 

<main id="main" class="main">
  <div class="pagetitle">
    <h1 class="mb-4">Attendence List</h1>
  </div><!-- End Page Title -->
  <%= link_to 'Back', root_path,  class: "right btn btn-primary" %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Employee Name</th>
        <th scope="col">Checkin Time</th>
        <th scope="col">Checkout Time</th>
        <th scope="col">Working Hours</th>
      </tr>
    </thead>

    <tbody class="search-data">
      <% array = [] %>
      <% @attendences.each do |attendence| %>
        <tr>
          <% emp = Employee.find(attendence.employee_id) %>
            <td><%= emp.name.capitalize() %></td>
            <td><%= attendence.checkin_time&.strftime("%a %b %d %y %I:%M:%S %p") %></td>
            <td><%= attendence.checkout_time&.strftime("%a %b %d %y %I:%M:%S %p") %></td>
            <td><%= attendence.hour %></td>
            <% unless attendence.employee.is_admin? %>
            <td><%= link_to 'Edit', edit_admin_main_attendence_path(attendence), class: "btn btn-primary" %></td>
          <% end %>
          <td>
            <% if current_employee.is_admin? || current_employee.is_hr? %>
             <%= link_to 'View',admin_main_attendence_path(attendence), class: "btn btn-primary" %>
            <% else %>
             <%= link_to 'View', attendence_path(attendence), class: "btn btn-primary" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</main><!-- End #main -->
