</aside><!-- End Sidebar-->

  <main id="main" class="main">
<%= form_with(model: attendence) do |form| %>
  <% if attendence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attendence.errors.count, "error") %> prohibited this attendence from being saved:</h2>

      <ul>
        <% attendence.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :checkin_time %>
    <%= form.datetime_select :checkin_time %>
  </div>

  <div class="field">
    <%= form.label :checkout_time %>
    <%= form.datetime_select :checkout_time %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="field">
    <%= form.label :employee_id %>
    <%= form.text_field :employee_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</main>