
</aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1 class="mb-4">Attendence List</h1>
    </div><!-- End Page Title -->
    <section class="section">
      <div class="row">
        
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
             <h5 class="card-title"></h5>
              <!-- Table with stripped rows -->
                <%= form_with(url: '/attendences', method: 'get', local: true) do %>
            <div>
              <%= text_field_tag :search%>
              <%= submit_tag("Search") %>
            </div>
          <% end %>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Checkin Time</th>
                    <th scope="col">Checkout Time</th>
                    <th scope="col">Working Hours</th>
                  </tr>
                </thead>
                <tbody>
                 <% array = [] %>
                 <% @attendences.each do |attendence| %>
                   <%# if current_employee.id == attendence.employee_id %>
                      <% unless array.include?(attendence.created_at.strftime('%d-%m-%y')) %>
                         <% array << attendence.created_at.strftime('%d-%m-%y') %>
                            <tr>
                             <td><%= attendence.checkin_time&.strftime("%a %b %d %y %I:%M:%S %p") %></td>
                              <td><%= attendence.checkout_time&.strftime("%a %b %d %y %I:%M:%S %p") %></td>
                              <td><%= attendence.hour %></td>
                              <td><%= link_to 'View', attendence_path(attendence), class: "btn btn-primary" %></td>
                              <% if current_employee.role.name == "HR" %>
                                <td><%= link_to 'Edit', edit_attendence_path(attendence), class: "btn btn-primary" %></td>
                              <% end %>
                            </tr>
                      <% end %>
                    <% end %>
                  <%# end %>
                </tbody>
              </table>
              <%= link_to 'Back', root_path, class: "right btn btn-primary" %>
              <!-- End Table with stripped rows -->
            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->




