<p id="notice"><%= notice %></p>

<p>
  <strong>Points:</strong>
  <%= @performance.points %>
</p>

<p>
  <strong>Month:</strong>
  <%= @performance.month %>
</p>

<p>
  <strong>From:</strong>
  <%= @performance.from %>
</p>

<p>
  <strong>To:</strong>
  <%= @performance.to %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @performance.employee_id %>
</p>

<%= link_to 'Edit', edit_performance_path(@performance) %> |
<%= link_to 'Back', performances_path %>
