</aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Salary</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Home</li>
          <li class="breadcrumb-item">Employee</li>
          <li class="breadcrumb-item">Salary</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                 <%= link_to 'Salary', new_admin_main_salary_path, class: "btn btn-primary mb-3 right "  %>
              </a>
              <!-- Table with stripped rows -->
              <table class="table datatable">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Employee Name</th>
                    <th scope="col">Month</th>
                    <th scope="col">Salary</th>
                    <th scope="col">leaves</th>
                    <th scope="col">Earnings</th>
                    <th scope="col">Deductions</th>
                    <th scope="col">Total Working days</th>
                  </tr>
                </thead>
                <tbody>
                <% @salaries.each do |salary| %>
                  <%# if current_employee.id == salary.employee_id %>
                    <% emp = Employee.find(salary.employee_id) %>
                    <tr>
                      <th><%= salary.id %></th>
                      <td><%= emp.name.capitalize() %></td>
                      <td><%= salary.month %></td>
                      <td><%= salary.salary %></td>
                      <td><%= salary.leaves %></td>
                      <td><%= salary.earnings %></td>
                      <td><%= salary.deductions %></td>
                      <td><%= salary.total_working_days %></td>
                     <td> <%= link_to 'Show Salary Details', "/admin_main/salaries/:id" %></td>
                    </tr>
                    <%# end %>
                  <% end %>
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->
  